@font-face {
  font-family: "calibre";
  src: url(./Calibre-Regular/Calibre-Regular.woff);
}

:root {
  --pink: rgb(3, 25, 28);
  --green: #14d790;
  --blue: #198fe3;
  --black: #21282d;
  --purple: #6571de27;
  --primary-color: rgba(13, 110, 100, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: calibre;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
ul li {
  list-style: none;
}

body {
  color: #222;
  background-image: url("./images/topography.svg"),
    linear-gradient(140deg, rgb(3, 25, 30), rgb(3, 25, 25));
  color: #f7fff793;
  margin: 0 auto;
  font-family: calibre;
  scroll-behavior: smooth;
}

.pen .caret-down .about-me {
  z-index: 10;
}

.wrapper {
  margin-top: 30px;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.wrapper .menu-icon {
  height: 50px;
}

.about {
  margin-top: 70px;
  padding: 100px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  transition: 0.9s ease-in;
}

.links li a {
  color: rgb(136, 146, 176);
}

.about p:nth-of-type(1) {
  color: #afe0ce;
  padding-left: 20px;
  font-size: 17px;
}

.about p:nth-of-type(2) {
  color: rgb(204, 214, 246);
  margin: 10px 0;
  padding-left: 5px;
  text-transform: uppercase;
  font-size: 70px;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.about p:nth-of-type(3) {
  color: rgb(136, 146, 176);
  margin: 13px 0;
  padding-left: 5px;
  font-size: 55px;
  letter-spacing: 1.5px;
}

.about p:nth-of-type(4) {
  color: rgb(136, 146, 176);
  padding-left: 5px;
  font-size: 17px;
  letter-spacing: 1.5px;
  width: 50%;
}


.about button {
  /*   background: black; */
  color: rgb(204, 214, 246);
  letter-spacing: 1.6px;
  font-size: 16px;
  display: block;
  padding: 10px 35px;
  border-radius: 35px;
  box-shadow: none;
  background-color: none;
  cursor: pointer;
  text-decoration: none; 
 border: 1px dashed rgb(3,35, 30);
 background-color: transparent;
 background-image: linear-gradient(to left, transparent, transparent 50%, rgb(3, 25, 30) 50%, rgb(3, 25, 25));
 background-position: 100% 0px;
 background-size: 200% 100%;
  transition: 0.7s ease-in-out;
}

.about button a {
  text-decoration: none;
  color: white;
}

.about button:hover {
  background: rgba(3, 35, 30, 0.781);
  color: rgb(204, 214, 246);
}
.links {
  text-align: center;
  position: fixed;
  bottom: 5px;
  left: 10px;
}

.links ul {
  display: flex;
  flex-direction: column;
  border: none;
}

.links ul li {
  padding: 30px 2px;
  list-style-type: none;
  cursor: pointer;
  transition: 0.5s all;
}

.links .social::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: rgb(168, 178, 209);
}

.links .social li:hover,
li:focus {
  transform: translateY(-3px);
}

@media only screen and (max-width: 789px) {
  .links {
    width: 100%;
    padding-top: 10px;
    bottom: 2px;
  }

  .links ul {
    display: none;
    /* flex-direction: row;
      justify-content: space-evenly;
      align-items: center; */
  }

  .about {
    padding: 10px;
  }

  .about p:nth-of-type(2) {
    font-size: 60px;
  }

  .about p:nth-of-type(3) {
    font-size: 40px;
  }

  .about p:nth-of-type(4) {
    width: 90%;
  }
}

/* intro*/
.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-text {
  color: rgb(204, 214, 246);
  font-size: 2rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  display: flex;
}

.slide1 {
  background: #113537;
  width: 20%;
  height: 100%;
}

.slide2 {
  background: #113537;
  width: 20%;
  height: 100%;
}

.slide3 {
  background: #113537;
  width: 20%;
  height: 100%;
}

.slide4 {
  background: #113537;
  width: 20%;
  height: 100%;
}

.slide5 {
  background: #113537;
  width: 20%;
  height: 100%;
}

/* boom */

.about-me {
  margin: 0 auto;
  padding: 100px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  transition: .3s ease-in;
}

.about-me h1 {
  position: relative;
  font-size: 32px;
  letter-spacing: 1.5;
  margin-top: 0;
  display: flex;
  white-space: nowrap;
  width: 100%;
  align-items: center;
  background: linear-gradient(hsl(98, 100%, 62%), hsl(204, 100%, 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.about-me h1::after {
  content: "";
  display: block;
  height: 1px;
  width: 200px;
  background-color: rgb(48, 60, 85);
  position: relative;
  top: -5px;
  margin-left: 20px;
}

.flexible-about {
  display: flex;
  justify-content: space-between;
  color: rgb(136, 146, 176);
}

.flexible-about .content > p {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 8px;
  letter-spacing: 1.2;
  line-height: 1.5;
}

.about-me .flexible-about .content .technologies h2 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 18px;
}

.about-me .flexible-about .content .technologies h2::before {
  content: "";
  display: block;
  height: 1px;
  width: 200px;
  background-color: rgb(48, 60, 85);
  position: relative;
  top: -5px;
  margin-right: 5px;
  line-height: 1.5;
}

.about-me .flexible-about .content .technologies ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 10px;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1.5;
}

.about-me .flexible-about .content .technologies ul li::before {
  content: "";
  display: block;
  height: 0.9px;
  width: 10px;
  background-color: rgb(48, 60, 85);
  position: relative;
  top: -5px;
  margin-right: 5px;
  line-height: 1.5;
  border-radius: 50%;
}

footer {
  display: none;
}

@media screen and (max-width: 550px) {
  .about-me .flexible-about .content .technologies ul {
    grid-template-columns: 1fr;
  }

  .about-me .flexible-about .content .technologies h2 {
    font-size: 16px;
  }

  .about-me {
    padding: 10px;
  }

  .balls .ball {
    margin-right: 3px;
    flex: 0 0 60px;
  }
  #main {
    display: none;
  }

  footer {
    display: flex !important;
    justify-content: center;
  }

  footer .social-links {
    text-align: center;
  }

  footer .social-links ul {
    display: inline-flex;
    flex-direction: row;
    border: none;
    justify-content: center;
  }

  footer .social-links ul li {
    padding: 30px 2px;
    margin-right: 60px;
    list-style-type: none;
    cursor: pointer;
    transition: 0.5s all;
  }

  footer .social-links ul li a {
    color: #afe0ce;
  }
}

/*My works*/

.my-works {
  margin: 0 auto;
  padding: 100px;
  padding-top: 0;
}

.my-works h1 {
  position: relative;
  font-size: 32px;
  letter-spacing: 1.5;
  margin-top: 0;
  display: flex;
  white-space: nowrap;
  width: 100%;
  align-items: center;
  background: linear-gradient(hsl(98, 100%, 62%), hsl(204, 100%, 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.my-works h1::after {
  content: "";
  width: 2000-4px;
  position: relative;
  top: -5px;
  height: 1px;
  display: block;
  background-color: rgb(48, 60, 85);
  margin-left: 20px;
}

/*Harmburger menu starts*/

.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 1;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*hamburger lines*/

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: rgb(204, 214, 246);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s linear;
}

/*Top and bottom lines*/
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: inherit;
  z-index: 1;
  top: -10px;
  transition: all 0.8s ease;
}

.menu-wrap .hamburger > div::before:hover {
  width: 70%;
  opacity: 0.7;
}

/*Takes line below*/
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/*Toggler animation*/

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/*Turn lines to an X*/

.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s linear;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s linear;
}

.menu-wrap .menu > div {
  background: rgba(0, 0, 0, 0.822);
  border-radius: 70%;
  width: 200vw;
  height: 500vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.8s linear;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 100vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: rgb(204, 214, 246);
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.menu-wrap .menu > div > div ul {
  text-align: center;
}

.menu-wrap .menu > div > div ul > li > a {
  color: rgb(204, 214, 246);
  text-decoration: none;
  letter-spacing: 1.8px;
  transition: 0.6s linear;
  text-align: center;
}

.menu-wrap .menu > div > div ul > li > a:hover {
  transform: translateX(3px);
  text-decoration: underline;
}
